.shape-divider {
  width: 100vw;
  height: 120px;
  position: relative;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  margin-top: -1px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.shape-divider-svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 120px;
  vertical-align: middle;
}

/* Default curve fill colors (can be overridden by inline fill prop) */
.shape-divider.grayish-divider svg path {
  fill: #FAFAFA;
}

.shape-divider.light-to-dark svg path {
  fill: #1a2332;
}

.shape-divider svg path {
  stroke: none;
}

.shape-divider.top {
  top: 0;
}

.shape-divider.bottom {
  bottom: 0;
}

.shape-divider.flip {
  transform: rotateY(180deg);
}

/* Responsive */
@media (max-width: 768px) {
  .shape-divider {
    height: 80px;
  }
  
  .shape-divider-svg {
    min-height: 80px;
  }
}

@media (max-width: 480px) {
  .shape-divider {
    height: 60px;
  }
  
  .shape-divider-svg {
    min-height: 60px;
  }
}
